body{
  font-family: 'Nunito', sans-serif;
}
article li {
  font-size: 1rem;
}
#connexion_bloc {}
#logo_du_site span {
  color: rgb(243, 86, 86);
}
#logo_xs {
  font-size: 0.7rem;
  display: none;
}
#logo_du_site {
  display: inline-block;
  background: rgb(58, 58, 132);
  color: white;
  padding: 0.5rem 1rem;
  transition: 0.3s;
}
#logo_du_site:hover {
  background: white;
  color: rgb(58, 58, 132);
  border: 0.05rem solid rgb(58, 58, 132);  
}
#logo_small {
  font-size: 0.7rem;
}
#collapseMentionsLegales .card {
  display: inline-block;
  margin: 3rem auto;
}
#form-devis {
  box-shadow: 0 0 10px 3px black;
}
#btn-toggle-display-form i {
  font-size: 2rem !important;
}
nav .logos {
  padding: 0.5rem;
}
.bloc_principal, .header, .choisir > div.flex{
  width: 80%;
  margin: auto;
  position: relative;
}
ul {
  list-style: none;
}
.alert-success {
  background: rgb(177, 239, 177);
  margin: 1rem 0;
  padding: 1rem;
  text-align: center;
  color: rgb(0, 128, 0);
  border-radius: -0.9rem;
  border: 0.05rem solid rgb(156, 214, 156);
}
nav p, h2, .courtalia-btn{
  font-size: 1.3rem;
}
header, nav, select, .rubrique{
  background: white;
}
header, nav{
  border-bottom: 0.2rem #6a9cbf groove;
}
header, nav, .courtalia-btn, .rubrique .flex, .rubrique{
  box-shadow: 0 0 0.5rem #0c3750;
}
body{
  background: rgb(245, 246, 246);
}
img{
  width: 100%;
}
.flex{
  align-items: center;
  display: flex;
}
a{
  text-decoration: none;
}
.fixed{
  width: 80%;
  position: fixed;
  top: -2rem;
}
li {
  font-size: 0.8rem;
  line-height: 1.8;
}
p{
  margin-bottom: 1rem;
}
h1, h2, a.courtalia-btn, .espace-partenaires p, h3{
  font-weight:bold;
}
nav, .footer, .form-devis{
  justify-content: space-around;
}
section h2, .courtalia-btn, .choisir h1, .formulaire .head{
  color: white;
}
nav, .image, section, .footer{
  margin: 2rem auto;
}
header .bars, .nav-logo, footer i, .bottom i, .choisir h1{
  font-size: 2rem;
}
.user-plus, header .bars{
  display: none;
  color: #00677f;
}
.header, .courtalia-btn, nav, section h2, .rubrique,
.choisir, .formulaire .head, .form-devis, input, select{
  box-sizing: border-box;
}
.header, .choisir > div.flex, .rubrique .flex{
  justify-content: space-between;
}
.header{
  padding-top: 1rem;
}
.header li a, nav, .image div, h1, .logos, footer a, li, input{
  color: rgb(65, 65, 65);
}
.header > div{
  padding-left:1rem;
}
.header > div, .header > ul{
  border-left: 0.1rem solid #dbdff1;
}
.header > ul{
  padding: 1rem 0 1rem 1rem;
}
.logo, .image div{
  width: 30%;
}
.formulaire .head, .courtalia-btn, section h2{
  background: rgb(0, 103, 127);
}
a.courtalia-btn{
  margin: 0 1rem;
  font-size: 0.8rem;
}
.courtalia-btn{
  border-radius: 0.2rem;
  cursor: pointer;
  padding: 1rem;
  border: 0.1rem solid rgb(0, 103, 127);
}
a.courtalia-btn:active{
  box-shadow: inset 0 0px 0.1rem 0px #242235;
}
.espace-partenaires p{
  margin: 0 0 0.5rem 1rem;
  color: #355b9e;
}
nav, .image div, .articles a, footer i, h1, .formulaire .head{
  text-align: center;
}
nav{
  opacity: 0.9;
  border-top: 0.1rem solid #094d5d;
  border-bottom: 0.1rem solid #094d5d;
  padding: 0.7rem 0 0.7rem 0;
  z-index: 10;
}
.image{
  background: url(../../images/ciel.jpg) no-repeat center bottom / cover;
  padding: 2rem 0 2rem;
}
.image div{
  background: rgba(255, 255, 255, 0.75);
  margin: auto;
  padding: 1rem;
  font-style: italic;
}
.image h2, article h3{
  color: rgb(0, 103, 127);
}
.nav-logo{
  transition: 0.4s;
}
.logos:hover .nav-logo, a.current{
  text-shadow: 0 0.1rem 0.1rem black;
  color: rgb(247, 130, 67);
}
.formulaire .head{
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 0.2rem 0.2rem 0 0;
}
.formulaire{
  position: relative;
}
.questions{
  display: none;
}
.text-right{
  text-align: right;
}
.questions-auto, .questions-pret{
  margin: 1rem auto;
}
ul.questions-prevoyance li, ul.questions-auto li, ul.questions-pret li, ul.questions-habitation li{
  line-height: 1.2;
  font-size: 0.8rem;
}
.form-devis{
  background: rgb(231, 243, 243);
  border-radius: 0 0 0.2rem 0.2rem;
  border: 0.1rem solid #5796a0;
  padding: 1rem;
}
.form-devis .coordonees li{
  line-height: 3;
}
.coordonees{
  text-align: right;
}
li.auto, li.auto input{
  width: auto;
}
.form-devis input, select{
  padding: 0.5rem;
  border: 0.1rem solid #5796a0;
  border-radius: 0.2rem;
  font-size: 1.2rem;
}
li.flex{
  justify-content: space-between;
}
.form-devis li, li p{
  line-height: 2.5;
  font-size: 1.2rem;
}
li p{
  margin: 0;
}
#pros, #part{
  width: auto;
}
.btn-devis .courtalia-btn{
  display: inline-block;
  margin: 3rem 0 3rem 0;
  padding: 1rem;
}
nav {
  padding: 0;
}
.btn-devis{
  text-align: right;
}
.form-message {
  display: none;
}
.fa-star{
  color: grey;
  font-size: 1.2rem;
  cursor: default;
}
.star-hover{
  color: #c5c548;
}
section h2{
  padding: 1rem;
  margin: 2rem 0 2rem 0;
}
section article{
  color: rgb(82, 82, 82);
}
section h3{
  border-bottom: 0.1rem solid rgb(0, 103, 127);
  margin: 1rem 0 1rem 0;
}
.articles p{
  padding: 1rem 0;
}
.articles a{
  margin: 1rem 0;
}
.articles .img{
  width: 40%;
  margin: 1.3rem 1rem 0 0;
  float: left;
}
.suite, .bottom p{
  text-align: right;
}
footer{
  background: rgb(232, 234, 239);
  padding: 2rem 0 0;
}
footer i{
  letter-spacing: 1rem;
}
.scrollTop{
  color: rgba(68, 85, 110, 0.22);
  position: fixed;
  top: 94%;
  left: 1rem;
  cursor: pointer;
}
.bottom{
  padding: 0 1rem 1rem;
}
h1{
  font-size: 3rem;
  margin-bottom: 1rem;
  margin: 3rem 0;
}
.separateur{
  background: url(./../../images/separateur.png) no-repeat center center /contain;
  height: 1rem;
  margin: 3rem;
}
.rubrique article{
  flex-basis: 50%;
}
article ul {
  font-style: italic;
}
article h4 {
  text-align: right;
  border-bottom: 0.1rem solid rgb(0, 103, 127);
  color: rgb(0, 103, 127);
}
.rubrique article{
  background: rgba(255, 255, 255, 0.71);
  padding: 6rem 2rem;
}
.rubrique .flex{
  align-items: flex-start;
}
.rubrique{
  padding: 4rem 4rem 0 4rem;
}
.rubrique .pros, .rubrique .pret, .rubrique .prevoyance{
  justify-content: end;
}
.rubrique .auto{
  background: url(../../images/voiture.jpg) no-repeat center center /cover ;
}
.rubrique .pros{
  background: url(../../images/mecanique.jpg) no-repeat center center /cover;
}
.rubrique .sante{
  background: url(../../images/sante.jpg) no-repeat center center /cover;
}
.rubrique .pret{
  background: url(../../images/pret.jpg) no-repeat center center /cover;
}
.rubrique .habitation{
  background: url(../../images/habitation.jpg) no-repeat center center /cover;
}
.rubrique .prevoyance{
  background: url(../../images/prevoyance.jpg) no-repeat center center /cover;
}
.choisir{
  background: linear-gradient(to left, rgb(0, 103, 127), rgb(53, 151, 155));
  padding: 1rem 0 3rem 0;
  color: rgb(170, 218, 221);
  margin: 0 auto;
}
.choisir h3{
  border: none;
}
.choisir .icon{
  font-size: 3rem;
  border: 0.1rem solid rgb(170, 218, 221);
  border-radius: 50%;
  display: flex;
  width: 5rem;
  height: 5rem;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}
.footer{
  align-items: flex-start;
}
.choisir .bloc{
  flex-basis: 45%;
}
.choisir i{
  padding: 2rem;
  color: rgb(170, 218, 221);
}
.choisir h1{
  font-size: 1.5rem;
}
.star-selected{
  color: #e23838;
}
.contact{
  font-style: italic;
  color: blue;
}
.margin-top{
  margin-top: 13rem;
}

.type_assurance{
  flex-direction: column;
}
.footer .flex{
  width: 45%;
  justify-content: space-around;
}
